{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Create" %}{% endblock title %}
{% block header %}{% trans "Create" %}{% endblock header %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
    <table>
        {{ form }}
    </table>
	<button type="submit" class="btn btn-outline-success" style="width:100px">Сохранить</button>	
    <button onclick="location.href='{% url 'person_index' %}'" class="btn btn-outline-info" style="width:100px">Назад</button>	
</form>
<script type="text/javascript">
	$(".chosen").chosen();
</script>
{% endblock content %}