{% extends "base.html" %}
{% load i18n %}
{% block title %}{% endblock title %}
{% block header %}{% endblock header %} 
{% block content %}
<div class="row">
	<div class="col-md-3">
		<h1 align="center">{% trans "Contacts" %}</h1>
		<address>
			<a href="mailto:MAbylmazhitov@gmail.com">MAbylmazhitov@gmail.com</a>			
		</address>				
		<p><a href="tel:+7-701-914-4539">+7-701-914-4539</a><p>
	</div>
	<div class="col-md-9" style="position:relative;overflow:hidden;">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d156094.2706893854!2d76.82471975289845!3d52.31649280547594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x42f9cad6074f811d%3A0x480e9e038c41819b!2z0J_QsNCy0LvQvtC00LDRgCAxNDAwMDA!5e0!3m2!1sru!2skz!4v1611125344491!5m2!1sru!2skz" width="100%" height="500px" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
	</div>
</div>
{% endblock content %}